@page
@model LogoutModel
@{
    ViewData["Title"] = "Sign out";
}

<header>
    <h1 style="color : white">@ViewData["Title"]</h1>
    <p style="color : black; background-image: url('/images/panel.jpg'); border-radius:.35rem!important">>You have successfully logged out of the application.</p>
</header>