@model SweetsListViewModel

@ViewBag.CurrentCategory
<div class="row display-flex">
    @foreach (var sweet in Model.Sweets)
    {
    @await Html.PartialAsync("SweetOverviewSummary", sweet)
    }
</div>

@section scripts{

}