@model SweetsListViewModel

@ViewBag.CurrentCategory

<div class="jumbotron text-center" style="background-color:#87784d">
    <div class="row display-flex">
        <div id="sweetDiv">
            @foreach (var sweet in Model.Sweets)
            {
                @await Html.PartialAsync("SweetOverviewSummary", sweet)
            }
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function (){
        });
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height())
            {
                LoadMoreSweets();
            }
        });
        function LoadMoreSweets() {
            $.ajax({
                type: "GET",
                url: "api/SweetData",
                contentType: "application/json; charset=utf-8", 
                dataType: "json",
                success: function (jsonData) {
                    if (jsonData == null) {
                        alert('no data returned');
                        return;
                    }
                    $.each(jsonData, function (index, sweet) {
                        var price = sweet.price;
                        price = (sweet + "").replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
                        var SweetSummaryString =
                            '<div class="col-sm-4 col-lg-4 col-md-4" style="display:none">' +
                            '   <div class="thumbnail">' +
                            '       <img src="' + sweet.imageThumbnailUrl + '" alt="">' +
                            '       <div class="caption">' +
                            '           <h3 class="">$' + sweet.price + '</h3>' +
                            '           <h4>' +
                            '               <a href=/Sweet/Details?Id=' + sweet.id + '>' + sweet.name + '</a>' +
                            '           </h4>' +
                            '           <p>' + sweet.shortDescription + '</p>' +
                            '           <p class="button">' +
                            '               <a class="btn btn-primary" href=/ShoppingCart/AddToShoppingCart?Id=' + sweet.id + '>Add to cart</a>' +
                            '           </p>' +
                            '       </div>' +
                            '   </div>' +
                            '</div>';
                        $('#sweetDiv').append(SweetSummaryString);
                    });
                },
                error: function (ex) {
                    alert(ex);
                }
            });
        }
    </script>
}


