@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    @if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
    {
    <li>
        <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="ViewShoppingCart">
            <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;
            <span id="cart-status">
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </li>
    }
}
