@model HomeViewModel

@{
    Layout = "_Layout";
}
@await Html.PartialAsync("Carousel")
<h2 style="color:#ffffff">Sweets of the week</h2>
<h4 style="color:#ffffff">Our weekly selection - just for you!</h4>

<div class="row display-flex">

    @foreach (var sweet in Model.SweetsOfTheWeek)
    {
        @await Html.PartialAsync("SweetOfTheWeekSummary", sweet)
    }

</div>
